p Hi #{name},
p A new account has been created for you at  site.
p Please follow the link to activate your account and set your password.

a(href=`${link}`) Activate and set your password.

p With best regards,
p your #{site} Team
